<body>

<div class="modal-header">
    <button type="button" class="btn btn-primary">
        Client:
    </button>
    {{user_header.client}}
    <button type="button" class="btn btn-primary">
        User:
    </button>
    {{user_header.user_name||"New User"}}
    <button class="btn btn-primary" ng-click="ok()" style="float: right">
        <i class="fa fa-times" style="float: right"></i>
    </button>

</div>
</div>

<div class="modal-body">


    <accordion close-others="oneAtATime">

        <accordion-group heading="User Header" is-open=true>
            <div ng-include src="header_template.url"></div>
        </accordion-group>

    </accordion>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Exit</button>
</div>


</body>
