<div  class="btn-default">
	<div ng-show="globalInfo.error" class="bg-danger" style="width: 100%; height: 30px">Error:{{global_notification}}</div>
	<div ng-show="globalInfo.info" class="bg-info" style="width: 100%; height: 30px">{{global_notification}}</div>
</div>

<div class="btn-default">
	<div class="asn_header">
		<span class="title"> Case:</span>
		<a href="#" id="case_id"  e-name="case_id" editable-text="case_header.case_id" onbeforesave="updateHeader($data, this, case_header.id)" >{{ case_header.case_id || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Inventory Type:</span><a href="#" id="invntory_type" e-name="asn_type" editable_text="case_header.inventory_type"  onbeforesave="updateHeader($data, this, case_header.id)">{{ case_header.inventory_type || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Record Status:</span><a href="#" id="record_status" e-name="record_status" editable_select="case_header.record_status" e-ng-options="s.value as s.text for s in statuses" onbeforesave="updateHeader($data, this, case_header.id)" e-required >{{ case_header.record_status || "Created" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Location Type:</span><a href="#" id="location_type" e-name="location_type" editable_text="case_header.location_type" onbeforesave="updateHeader($data, this, case_header.id)" >{{ case_header.location_type || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Area:</span><a href="#" id="area" e-name="area" editable_text="case_header.area"  onbeforesave="updateHeader($data, this, case_header.id)" >{{ case_header.area || 'Not set' }} </a>
	</div>
	<div class="asn_header">
		<span class="title">Zone:</span><a href="#" id="zone" e-name="zone" editable_text="case_header.zone"  onbeforesave="updateHeader($data, this, case_header.id)" >{{ case_header.zone || 'Not set' }} </a>
	</div>
	<div class="asn_header">
		<span class="title">Aisle:</span><a href="#" id="aisle" e-name="area" editable_text="case_header.aisle"  onbeforesave="updateHeader($data, this, case_header.id)" >{{ case_header.aisle || 'Not set' }} </a>
	</div>
	<div class="asn_header">
		<span class="title">Bay:</span><a href="#" id="bay" e-name="zone" editable_text="case_header.bay"  onbeforesave="updateHeader($data, this, case_header.id)" >{{ case_header.bay || 'Not set' }} </a>
	</div>
	<div class="asn_header">
		<span class="title">Position:</span><a href="#" id="postion" e-name="zone" editable_text="case_header.position"  onbeforesave="updateHeader($data, this, case_header.id)" >{{ case_header.position || 'Not set' }} </a>
	</div>

</div>
&nbsp;

<div class="panel-group" id="accordion_header_more" style="width: 100%">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_more" href="#collapse_header_more" > More .... </a></h4>
		</div>
		<div id="collapse_header_more" class="panel-collapse collapse out">


<div class="panel-group" id="accordion_header_inners" style="width: 100%">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_vendor" > Vendor Information </a></h4>
		</div>
		<div id="collapse_vendor" class="panel-collapse collapse out">
			<div class="panel-body">
			</div>
		</div>

	</div>
</div>	

</div>
</div>
</div>