<div class="modal-header">
<div>
    <button type="button" class="btn btn-primary">
        Warehouse :
    </button>
    {{case_header.warehouse}}
    <button type="button" class="btn btn-primary">
        Client:
    </button>
    {{case_header.client}}
    <button type="button" class="btn btn-primary">
        Case:
    </button>
    {{case_header.case_id}}
    <button class="btn btn-primary" ng-click="ok()" style="float: right">
        <i class="fa fa-times" style="float: right"></i>
    </button>
</div>
</div>

<div class="modal-body">

    <accordion close-others="oneAtATime">

        <accordion-group heading="Case Detail" is-open=true>
            <div ng-include src="detail_template.url"></div>
        </accordion-group>
    </accordion>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Exit</button>
</div>

</body>
