<div>
    <button type="button" class="btn btn-primary">
        Warehouse :
    </button>
    {{case_header.warehouse}}
    <button type="button" class="btn btn-primary">
        Client:
    </button>
    {{case_header.client}}
    <button type="button" class="btn btn-primary">
        Case:
    </button>
    {{case_header.case_id}}
</div>


<div class="modal-body">

    <accordion close-others="oneAtATime">

        <accordion-group heading="Case Detail" is-open=true>
            <div ng-include src="detail_template.url"></div>
        </accordion-group>
    </accordion>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>

</body>
