
<body>
<div class="modal-header">
    <button type="button" class="btn btn-primary">
        Wahrehouse :
    </button>
    {{shipment_header.warehouse || "WH1"}}
    <button type="button" class="btn btn-primary">
        Client:
    </button>
    {{shipment_header.client || "WM"}}
    <button type="button" class="btn btn-primary">
        Shipment:
    </button>
    {{shipment_header.shipment_nbr||"New Shipment"}}
    <button class="btn btn-primary" ng-click="ok()" style="float: right">
        <i class="fa fa-times" style="float: right"></i>
    </button>

</div>


<div class="modal-body">

    <accordion close-others="oneAtATime">

        <accordion-group heading="Case Detail" is-open=true>
            <div ng-include src="detail_template.url"></div>
        </accordion-group>
    </accordion>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Exit</button>
</div>

</body>
