    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
		  	<div>ASN Type: <a href="#" id="asn_type" editable-text="shipment_header.asn_type" onbeforesave="updateUser($data, this)">{{ shipment_header.asn_type || "empty" }}</a></div>
		  	<div>Source: <a href="#" id="source" editable-text="shipment_header.source" onbeforesave="updateUser($data, this)">{{ shipment_header.source || "empty" }}</a></div>
		  	<div>Source Comment: <a href="#" id="source_comment" editable-text="shipment_header.source_comment" onbeforesave="updateUser($data, this)">{{ shipment_header.source_comment || "empty" }}</a></div>
		  	<div>Appointment Number: <a href="#" id="appointment_nbr" editable-text="shipment_header.appointment_nbr" onbeforesave="updateUser($data, this)">{{ shipment_header.appointment_nbr || "empty" }}</a></div>
		  	<div>Dock Door: <a href="#" id="door_door" editable-text="shipment_header.door_door" onbeforesave="updateUser($data, this)">{{ shipment_header.door_door || "empty" }}</a></div>
		  	<div style="float: left">Purchase Order: <a href="#" id="purchase_order_nbr" editable-text="shipment.shipment_header.purchase_order_nbr" onbeforesave="updateUser($data, this )">{{ shipment_header.purchase_order_nbr || "empty" }} </a> </div>
     </div>
    </div>
