<html>
	<head>
		<script>
			$(document).on("click", "#open_shipment_detail", function() {
				url = '/shipment/' + $(this).attr('data-target') + '#?id=' + $(this).attr('data-target') + '&warehouse=WH1&client=WM';
				$('#shipment_detail_modal_iframe').attr('src', url);
				$('#shipment_detail_modal').modal('show');
			});

			$(document).on("click", "#open_shipment_add", function() {
				url = '/shipment/new/#?warehouse=WH1&client=WM';
				$('#shipment_detail_modal_iframe').attr('src', url);
				angular.element('#shipmentAddCtrl').scope().clear();
				$('#shipment_detail_modal').modal('show');
			});

			$(document).on('hidden.bs.modal', '#shipment_detail_modal', function() {
				angular.element('#ShipmentListCtrl').scope().reload();
			});

			$(document).on("click", "#open_shipment_detail_add", function() {
				url = '/shipment/add_detail/#?warehouse=WH1&client=WM&asn_header_id=' + $(this).attr('data-target');
				$('#shipment_detail_modal_iframe').attr('src', url);
				$('#shipment_detail_modal').modal('show');
			});

			$(document).on("click", "#open_shipment_detail_edit", function() {
				url = '/shipment/' + $(this).attr('shipment_id') + '/edit_detail/' + $(this).attr('shipment_detail_id') + '#?id=' + $(this).attr('shipment_id') + '&detail_id=' + $(this).attr('shipment_detail_id') + '&warehouse=WH1&client=WM';

				$('#shipment_detail_modal_iframe').attr('src', url);
				$('#shipment_detail_modal').modal('show');
			});

			var sortingOrder = 'item.key';
		</script>
		<style>
			.modal-dialog {
				width: 900px;
			}
			.row-header {
				min-width: 15%;
				max-width: 15%;
				display: inline-block;
				text-align: center;
				min-height: 1px;
				white-space: nowrap
			}
		</style>
	</head>

	<%= render"shared/menu" %>
	<div id="ConfigurationListCtrl" ng-controller="ConfigurationListCtrl" style="width: 80%; margin: 2%">


		<body ng-app="configuration_detail" >
			<a href="/"> <h2>Global Configuration</h2> </a>

			<div class="input-group" style="width: 30%">
				<input type="text" ng-model="query" ng-change="search()" class="form-control" placeholder="Search">
				<span class="input-group-addon"><i class="icon-search"></i></span>
			</div>
			<div>
				<ul class="nav nav-tabs" role="tablist">
					<li class="active">
						<a href="#Active" role="tab" data-toggle="tab" ng-click="status('true')">Active</a>
					</li>
					<li>
						<a href="#Inactive" role="tab" data-toggle="tab" ng-click="status('false')">Inactive</a>
					</li>
				</ul>

			</div>
			<table class="table">
				<thead>
					<tr>
						<th colspan="7">
						<div class="bs-callout">
							<div class="row-header">
								Option
							</div>
							<div class="row-header">
								Module<a ng-click="sort_by('module')"><i class="icon-sort"></i></a>
							</div>
							<div class="row-header">
								Key<a ng-click="sort_by('key')"><i class="icon-sort"></i></a>
							</div>
							<div class="row-header">
								Value<a ng-click="sort_by('value')"><i class="icon-sort"></i></a>
							</div>
							<div class="row-header">
								Active<a ng-click="sort_by('enable')"><i class="icon-sort"></i></a>
							</div>
							<div class="row-header">
								<a id="open_shipment_add"
								data-toggle="modal"
								<i class="icon-plus-sign"></i></a>
							</div>
						</div></th>
					</tr>
				</thead>
				<tfoot>
					<td colspan="7">
					<div>
						<ul class="pagination pull-right">
							<li ng-class="{disabled: currentPage == 0}">
								<a href ng-click="prevPage()">« Prev</a>
							</li>
							<li ng-repeat="n in range(pagedItems.length)"
							ng-class="{active: n == currentPage}"
							ng-click="setPage()">
								<a href ng-bind="n + 1">1</a>
							</li>
							<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
								<a href ng-click="nextPage()">Next »</a>
							</li>
						</ul>
					</div></td>
				</tfoot>
				<tbody>
					<tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
						<td colspan="7">
						<div  class="bs-callout bs-callout-info">
							<div class="row-header" ng-click="toggle_expand(item)" >
								<a id="expand"
								data-toggle="modal"
								data-target="{{item.id}}"> <i class="icon-plus-sign"></i></a>
							</div>

							<div class="row-header">
								{{item.module}}
							</div>
							<div class="row-header">
								{{item.key}}
							</div>
							<div class="row-header">
								<a href="#" id="value" onshow="loadGroups(item.key)" editable-select="item.value" e-ng-options="s.value as s.text for s in options" onbeforesave="update_configuration($data, this, item.id)">{{ item.value || "empty" }}</a>
							</div>
							<div class="row-header">
								<a href="#" id="value"  editable-select="item.enable" e-ng-options="s.value as s.text for s in TrueOrFalse" onbeforesave="update_configuration($data, this, item.id)">{{ item.enable || "empty" }}</a>
							</div>
							<div class="row-header">
								<a id="open_shipment_detail"
								data-toggle="modal"
								data-target="{{item.shipment_header.id}}"> <i class="icon-edit"></i></a>
							</div>
						</div><!--Detail --> </div> </td>
					</tr>

				</tbody>
			</table>

			<div class="modal fade" id="shipment_detail_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								<i class="icon-remove"></i>
							</button>
							<h4 class="modal-title" id="myModalLabel">Shipment Detail</h4>
						</div>
						<div class="modal-body" style="height:700px; max-height:700px; width:100%; max-width:100%;">
							<iframe id="shipment_detail_modal_iframe" src="" style="width: 100%; height: 100%"></iframe>
						</div>
						<div class="modal-footer" >
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button>
							<button type="button" class="btn btn-primary">
								Save changes
							</button>
						</div>
					</div>
				</div>
			</div>

	</div>

	</body>
</html>
