	<head>
		<style>
			.modal_text_box {
				width: 50%;
				float: left
			}
		</style>
	</head>

	<body>

		 <div class="modal-header">
			<button type="button" class="btn btn-primary">
				Warehouse :
			</button>
			{{item.warehouse || "WM"}}
			<button type="button" class="btn btn-primary">
				Client:
			</button>
			{{item.client || "WH1"}}
			<button type="button" class="btn btn-primary">
				Item:
			</button>
			{{item.item||"New Item"}}
		</div>
		       

  <div class="modal-body">

	<accordion close-others="oneAtATime">

			<accordion-group heading="Item Master" is-open=true>
						<div ng-include src="item_template.url"></div>
			</accordion-group>

		</accordion>
	</div>
	<div class="modal-footer">
         <button class="btn btn-primary" ng-click="ok()">OK</button>
         <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>	
		
</body>
