<nav class="navbar navbar-inverse navbar-static-top" role="navigation" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Warehouse Management System</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="#">Home<span class="glyphicon glyphicon-home"></span> </a>
        </li>


        <li>
          <span class="nav" dropdown on-toggle="toggled(open)">
                <a href="" class="dropdown-toggle nav" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-glass">Utilities</span><span class="caret"></span>
                </a>


              <ul class="dropdown-menu">
                <li><a ui-sref="configuration_maintenance">Configuration</a></li>
                <li class="divider"></li>
                <li><a ui-sref="shipment_maintenance">Shipment</a></li>
                <li class="divider"></li>
                <li><a ui-sref="case_maintenance">Case Inventory</a></li>
                <li class="divider"></li>
                <li><a ui-sref="item_master_maintenance">Item Master</a></li>
                <li class="divider"></li>
                <li><a ui-sref="user_master_maintenance">User Master</a></li>
                <li class="divider"></li>
                <li><a href="/mainmenu/new">Receive</a></li>
              </ul>
          </span>
        </li>
        <li>

                <span class="navbar-nav" dropdown on-toggle="toggled(open)">
                <a href="" class="dropdown-toggle navbar-inverse" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-leaf"></span> Welcome <%= @userid %> <span class="caret"></span>
                </a>


              <ul class="dropdown-menu">
                <li><a ui-sref="configuration_maintenance">Configuration</a></li>
                <li class="divider"></li>
                <li><a ui-sref="shipment_maintenance">Shipment</a></li>
                <li class="divider"></li>
                <li><a ui-sref="case_maintenance">Case Inventory</a></li>
                <li class="divider"></li>
                <li><a ui-sref="item_master_maintenance">Item Master</a></li>
                <li class="divider"></li>
                <li><a ui-sref="user_master_maintenance">User Master</a></li>
                <li class="divider"></li>
                <li><a ui-sref="mainmenu/new">Receive</a></li>
                <li class="divider"></li>
              </ul>
            </span>
        </li>


      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
