<body>
    <div class="modal-header">
        <div>
            <button type="button" class="btn btn-primary">
                Warehouse :
            </button>
            {{shipment_detail.warehouse}}
            <button type="button" class="btn btn-primary">
                Client:
            </button>
            {{shipment_detail.client}}
            <button type="button" class="btn btn-primary">
                Barcode:
            </button>
            New Barcode
            <button class="btn btn-primary" ng-click="ok()" style="float: right">
                <i class="fa fa-times" style="float: right"></i>
            </button>
        </div>
    </div>

	<div class="modal-body">

		<form editable-form name="editableForm" onaftersave="saveDetail()">
			<div class="buttons">
                {{editableForm.$show()}}
                <!-- buttons to submit / cancel form -->
                <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-info" ng-disabled="editableForm.$waiting">
                        Save
                    </button>
                    <button type="button" class="btn btn-warning" ng-disabled="editableForm.$waiting"
                        ng-click="editableForm.$cancel()">
                        Cancel
                    </button>
                </span>
			</div>

            <div class="modal-body">

                <accordion close-others="oneAtATime">

                    <accordion-group heading="Shipment Detail" is-open=true>
                        <div ng-include src="detail_template.url"></div>
                    </accordion-group>
                </accordion>

            </div>
                <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-info" ng-disabled="editableForm.$waiting">
                        Save
                    </button>
                    <button type="button" class="btn btn-warning" ng-disabled="editableForm.$waiting"
                            ng-click="editableForm.$cancel()">
                        Cancel
                    </button>
                </span>
		</form>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">
			Exit
		</button>
	</div>

</body>

