
	<body>

		 <div class="modal-header">
			<button type="button" class="btn btn-primary">
				Wahrehouse :
			</button>
			{{shipment_header.warehouse || "WM"}}
			<button type="button" class="btn btn-primary">
				Client:
			</button>
			{{shipment_headerclient || "WH1"}}
			<button type="button" class="btn btn-primary">
				Shipment:
			</button>
			{{shipment_header.shipment_nbr||"New Shipment"}}
		</div>


         <div class="modal-body">

             <accordion close-others="oneAtATime">

                 <accordion-group heading="Shipment Header" is-open=true>
                     <div ng-include src="header_template.url"></div>
                 </accordion-group>

                 <accordion-group heading="Shipment Detail" >
                     <header ng-repeat-start="shipment_detail in shipment_details">
                         <accordion-group heading="Item: {{shipment_detail.item}}"  >
                             <div ng-include src="detail_template.url"></div>
                         </accordion-group>
                     </header>
                     <header ng-repeat-end>
                     </header>
             </accordion>
         </div>
         <div class="modal-footer">
             <button class="btn btn-primary" ng-click="ok()">OK</button>
             <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
         </div>


    </body>
