<body>

<div class="modal-header">
    <button type="button" class="btn btn-primary">
        Client:
    </button>
    {{shipment_header.client}}
    <button type="button" class="btn btn-primary">
        Wahrehouse :
    </button>
    {{shipment_header.warehouse}}
    <button type="button" class="btn btn-primary">
        Shipment:
    </button>
    {{shipment_header.shipment_nbr}}
     <button class="btn btn-primary" ng-click="ok()" style="float: right"><i class="fa fa-caret-square-o-left fa-lg"></i>

     </button>

 </div>

<div class="modal-body">


    <accordion close-others="oneAtATime">

        <accordion-group heading="Shipment Header" is-open=true>
            <div ng-include src="header_template.url"></div>
        </accordion-group>

        <accordion-group heading="Shipment Detail">
            <header ng-repeat-start="shipment_detail in shipment_details">
                <accordion-group heading="Item: {{shipment_detail.item}}">
                    <div ng-include src="detail_template.url"></div>
                </accordion-group>
            </header>
            <header ng-repeat-end>
            </header>
        </accordion-group>
    </accordion>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Exit</button>
</div>


</body>
