<div  class="btn-default">
	<div ng-show="globalInfo.error" class="bg-danger" style="width: 100%; height: 30px">Error:{{global_notification}}</div>
	<div ng-show="globalInfo.info" class="bg-info" style="width: 100%; height: 30px">{{global_notification}}</div>
</div>

<div class="btn-default">
	<div class="asn_header">
		<span class="title"> Shipment Number:</span>
		<a href="#" id="shipment_nbr"  e-name="shipment_nbr" editable-text="shipment_header.shipment_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)" >{{ shipment_header.shipment_nbr || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">ASN Type:</span><a href="#" id="asn_type" e-name="asn_type" editable-text="shipment_header.asn_type" onbeforesave="updateHeader($data, this, shipment_header.id)" e-required>{{ shipment_header.asn_type || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Record Status:</span><a href="#" id="record_status" e-name="record_status" editable_select="shipment_header.record_status" e-ng-options="s.value as s.text for s in statuses" onbeforesave="updateHeader($data, this, shipment_header.id)" e-required >{{ shipment_header.record_status || "Created" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Purchase Order No:</span><a href="#" id="purchase_order_nbr" e-name="purchase_order_nbr" editable_text="shipment_header.purchase_order_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)" e-required>{{ shipment_header.purchase_order_nbr || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Hot Item PO:</span><a href="#" id="hot_item_po" e-name="hot_item_po" editable_text="shipment_header.hot_item_po" onbeforesave="updateHeader($data, this, shipment_header.id)" e-required>{{ shipment_header.hot_item_po || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Source:</span><a href="#" id="source" e-name="source" editable-text="shipment_header.source" onbeforesave="updateHeader($data, this, shipment_header.id)" e-required>{{ shipment_header.source || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Appointment Nbr:</span><a href="#" id="appointment_nbr" e-name="appointment_nbr" editable_text="shipment_header.appointment_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)" e-required>{{ shipment_header.appointment_nbr || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Auto cancel PO:</span><a href="#" id="record_status" e-name="record_status" editable_text="shipment_header.record_status" onbeforesave="updateHeader($data, this, shipment_header.id)" e-required>{{ shipment_header.record_status || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">COO:</span><a href="#" id="coo" e-name="coo" editable_text="shipment_header.coo" onbeforesave="updateHeader($data, this, shipment_header.id)" e-required>{{ shipment_header.coo || "empty" }}</a>
	</div>
	<div class="asn_header">
		<span class="title">Shipment Verified:</span><a href="#" id="shipment_verified" e-name="shipment_verified" editable_checkbox="shipment_header.shipment_verified" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.shipment_verified && "Yes" || "No" }}</a>
	</div>
</div>
&nbsp;

<div class="panel-group" id="accordion_header_more" style="width: 100%">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_more" href="#collapse_header_more" > More .... </a></h4>
		</div>
		<div id="collapse_header_more" class="panel-collapse collapse out">


<div class="panel-group" id="accordion_header_inners" style="width: 100%">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_vendor" > Vendor Information </a></h4>
		</div>
		<div id="collapse_vendor" class="panel-collapse collapse out">
			<div class="panel-body">
				<div class="asn_header">
					Vendor Number: <a href="#" id="vendor_nbr" editable-text="shipment_header.vendor_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.vendor_nbr || "empty" }}</a>
				</div>
				<div class="asn_header">
					Vendor Name: <a href="#" id="vendor_name" editable_text="shipment_header.vendor_name" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.vendor_name || "empty" }}</a>
				</div>
				<div class="asn_header">
					Vendor Factory: <a href="#" id="vendor_factory" editable_text="shipment_header.vendor_factory" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.vendor_factory || "empty" }}</a>
				</div>
				<div class="asn_header">
					Vendor Contact: <a href="#" id="vendor_contact" editable_text="shipment_header.vendor_contact" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.vendor_contact || "empty" }}</a>
				</div>
				<div class="asn_header">
					Ship From: <a href="#" id="ship_from" editable_text="shipment_header.ship_from" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.ship_from || "empty" }}</a>
				</div>
				<div class="asn_header">
					Vendor EmailID: <a href="#" id="vendor_email_id" editable_text="shipment_header.vendor_email_id" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.vendor_email_id || "empty" }}</a>
				</div>
				<div class="asn_header">
					Phone: <a href="#" id="phone" editable_text="shipment_header.phone" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.phone || "empty" }}</a>
				</div>
				<div class="asn_header">
					Fax Number: <a href="#" id="fax_nbr" editable_text="shipment_header.fax_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.fax_nbr || "empty" }}</a>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_Buyer" > Buyer Information </a></h4>
		</div>
		<div id="collapse_Buyer" class="panel-collapse collapse out">
			<div class="panel-body">
				<div class="asn_header">
					Buyer ID: <a href="#" id="buyer_id" editable-text="shipment_header.buyer_id" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.buyer_id || "empty" }}</a>
				</div>
				<div class="asn_header">
					Buyer Name: <a href="#" id="buyer_name" editable_text="shipment_header.buyer_name" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.buyer_name || "empty" }}</a>
				</div>
				<div class="asn_header">
					Department: <a href="#" id="department" editable_text="shipment_header.department" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.department || "empty" }}</a>
				</div>
				<div class="asn_header">
					Buyer EmailID: <a href="#" id="buyer_email_id" editable_text="shipment_header.buyer_email_id" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.buyer_email_id || "empty" }}</a>
				</div>
			</div>
		</div>
		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_Date" > Date Information </a></h4>
		</div>
		<div id="collapse_Date" class="panel-collapse collapse out">
			<div class="panel-body">
				<div class="asn_header">
					PO Created By: <a href="#" id="pocreated_by" editable-date="shipment_header.pocreated_by" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.pocreated_by || "empty" }}</a>
				</div>
				<div class="asn_header">
					PO Created Date: <a href="#" id="po_created_date" editable-date="shipment_header.po_created_date" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.po_created_date || "empty" }}</a>
				</div>
				<div class="asn_header">
					PO Ship Date: <a href="#" id="po_ship_date" editable_date="shipment_header.po_ship_date" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.po_ship_date || "empty" }}</a>
				</div>
				<div class="asn_header">
					PO Last Modified By: <a href="#" id="po_last_modified_by" editable_text="shipment_header.po_last_modified_by" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.po_last_modified_by || "empty" }}</a>
				</div>
				<div class="asn_header">
					PO Last Modifified Date: <a href="#" id="po_last_modified_date" editable_date="shipment_header.hot_item_po" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.hot_item_po || "empty" }}</a>
				</div>
				<div class="asn_header">
					PO Downloaded By: <a href="#" id="po_downloaded_by" editable-text="shipment_header.po_downloaded_by" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.po_downloaded_by || "empty" }}</a>
				</div>
				<div class="asn_header">
					PO Downloaded Date: <a href="#" id="po_downloaded_date" editable_text="shipment_header.po_downloaded_date" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.appointment_nbr || "empty" }}</a>
				</div>
				<div class="asn_header">
					Auto Cancel PO: <a href="#" id="auto_cancel_po" editable_text="shipment_header.auto_cancel_po" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.auto_cancel_po || "empty" }}</a>
				</div>
				<div class="asn_header">
					Cancel After Days: <a href="#" id="cancel_after_days" editable_text="shipment_header.cancel_after_days" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.cancel_after_days || "empty" }}</a>
				</div>
				<div class="asn_header">
					PO cancelled By: <a href="#" id="po_cancelled_by" editable_text="shipment_header.po_cancelled_by" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.po_cancelled_by || "empty" }}</a>
				</div>
				<div class="asn_header">
					PO cancelled Date: <a href="#" id="po_cancelled_date" editable_date="shipment_header.po_cancelled_date" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.po_cancelled_date || "empty" }}</a>
				</div>
				<div class="asn_header">
					Shipment Verified By: <a href="#" id="shipment_verified_by" editable_text="shipment_header.shipment_verified_by" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.shipment_verified_by || "empty" }}</a>
				</div>
				<div class="asn_header">
					Shipment Verified Date: <a href="#" id="shipment_verified_date" editable_date="shipment_header.shipment_verified_date" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.shipment_verified_date || "empty" }}</a>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_Tracking" > Tracking Information </a></h4>
		</div>
		<div id="collapse_Tracking" class="panel-collapse collapse out">
			<div class="panel-body">
				<div class="asn_header">
					Track LotControl: <a href="#" id="v" editable-text="shipment_header.track_lotcontrol" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.track_lotcontrol || "empty" }}</a>
				</div>
				<div class="asn_header">
					Track Serial No: <a href="#" id="track_serial_nbr" editable_text="shipment_header.track_serial_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.track_serial_nbr || "empty" }}</a>
				</div>
				<div class="asn_header">
					Track COO: <a href="#" id="track_coo" editable_text="shipment_header.track_coo" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.track_coo || "empty" }}</a>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_Receiving" > Receiving Information </a></h4>
		</div>
		<div id="collapse_Receiving" class="panel-collapse collapse out">
			<div class="panel-body">
				<div class="asn_header">
					Track LotControl: <a href="#" id="track_lotcontrol" editable-text="shipment_header.track_lotcontrol" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.track_lotcontrol || "empty" }}</a>
				</div>

				<div class="asn_header">
					PO Ship Date: <a href="#" id="po_ship_date" editable-date="shipment_header.po_ship_date" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.po_ship_date || "empty" }}</a>
				</div>
				<div class="asn_header">
					Mode Of Transport: <a href="#" id="mode_of_transport" editable_text="shipment_header.mode_of_transport" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.mode_of_transport || "empty" }}</a>
				</div>
				<div class="asn_header">
					Receiving Started Date: <a href="#" id="receiving_stated_date" editable_date="shipment_header.receiving_stated_date" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.receiving_stated_date || "empty" }}</a>
				</div>
				<div class="asn_header">
					First Receiving By: <a href="#" id="first_receiving_by" editable_text="shipment_header.first_receiving_by" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.first_receiving_by || "empty" }}</a>
				</div>
				<div class="asn_header">
					Area: <a href="#" id="area" editable-text="shipment_header.area" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.area || "empty" }}</a>
				</div>
				<div class="asn_header">
					Receiving Ended Date: <a href="#" id="receiving_ended_date" editable_date="shipment_header.receiving_ended_date" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.receiving_ended_date || "empty" }}</a>
				</div>
				<div class="asn_header">
					Receiving Ended By: <a href="#" id="receiving_ended_by" editable_text="shipment_header.receiving_ended_by" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.receiving_ended_by || "empty" }}</a>
				</div>
				<div class="asn_header">
					Dock Door: <a href="#" id="door_door" editable_text="shipment_header.door_door" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.door_door || "empty" }}</a>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_Totals" > Totals Information </a></h4>
		</div>
		<div id="collapse_Totals" class="panel-collapse collapse out">
			<div class="panel-body">

				<div class="asn_header">
					Total Units: <a href="#" id="total_units" editable-number="shipment_header.total_units" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.total_units || "empty" }}</a>
				</div>
				<div class="asn_header">
					Cases Ordered: <a href="#" id="cases_ordered" editable_text="shipment_header.cases_ordered" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.cases_ordered || "empty" }}</a>
				</div>
				<div class="asn_header">
					Total Weight: <a href="#" id="total_weight" editable_number="shipment_header.total_weight" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.total_weight || "empty" }}</a>
				</div>
				<div class="asn_header">
					Total Volume: <a href="#" id="total_volume" editable_number="shipment_header.total_volume" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.total_volume || "empty" }}</a>
				</div>
				<div class="asn_header">
					Units Received: <a href="#" id="units_rcvd" editable_text="shipment_header.units_rcvd" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.units_rcvd || "empty" }}</a>
				</div>
				<div class="asn_header">
					Cases Received: <a href="#" id="cases_rcvd" editable_text="shipment_header.cases_rcvd" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.cases_rcvd || "empty" }}</a>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_QA" > QA Information </a></h4>
		</div>
		<div id="collapse_QA" class="panel-collapse collapse out">
			<div class="panel-body">
				<div class="asn_header">
					QA Sampling Plan: <a href="#" id="qa_samplling_plan" editable-text="shipment_header.qa_samplling_plan" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.qa_samplling_plan || "empty" }}</a>
				</div>
				<div class="asn_header">
					Override QA Plan: <a href="#" id="override_qa_plan" editable_text="shipment_header.override_qa_plan" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.override_qa_plan || "empty" }}</a>
				</div>
				<div class="asn_header">
					Override Plan: <a href="#" id="override_plan" editable_text="shipment_header.override_plan" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.override_plan || "empty" }}</a>
				</div>
				<div class="asn_header">
					Total Units IN QA: <a href="#" id="total_units_in_qa" editable_text="shipment_header.total_units_in_qa" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.total_units_in_qa || "empty" }}</a>
				</div>
				<div class="asn_header">
					Total Cases IN QA: <a href="#" id="total_cases_in_qa" editable_text="shipment_header.total_cases_in_qa" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.total_cases_in_qa || "empty" }}</a>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_Hold" > Hold Information </a></h4>
		</div>
		<div id="collapse_Hold" class="panel-collapse collapse out">
			<div class="panel-body">

				<div class="asn_header">
					Hold Inventory: <a href="#" id="hold_inventory" editable-text="shipment_header.hold_inventory" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.hold_inventory || "empty" }}</a>
				</div>
				<div class="asn_header">
					Hold Code: <a href="#" id="hold_code" editable_text="shipment_header.hold_code" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.hold_code || "empty" }}</a>
				</div>
				<div class="asn_header">
					Alert Buyer: <a href="#" id="alert_buyer" editable_text="shipment_header.alert_buyer" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.alert_buyer || "empty" }}</a>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_Receiving" > QA Information </a></h4>
		</div>
		<div id="collapse_QA" class="panel-collapse collapse out">
			<div class="panel-body">
				<h4>Misc Details</h4>
				<div class="asn_header">
					SHip Via: <a href="#" id="ship_via" editable-text="shipment_header.ship_via" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.ship_via || "empty" }}</a>
				</div>
				<div class="asn_header">
					Trailor Type: <a href="#" id="trailor_type" editable_text="shipment_header.trailor_type" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.trailor_type || "empty" }}</a>
				</div>
				<div class="asn_header">
					Manifest No: <a href="#" id="manifest_nbr" editable_text="shipment_header.manifest_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.manifest_nbr || "empty" }}</a>
				</div>
				<div class="asn_header">
					BOL: <a href="#" id="bol" editable_text="shipment_header.bol" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.bol || "empty" }}</a>
				</div>
				<div class="asn_header">
					Seal No: <a href="#" id="seal_nbr" editable_text="shipment_header.seal_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.seal_nbr || "empty" }}</a>
				</div>
				<div class="asn_header">
					SCAC Code: <a href="#" id="scac_code" editable_text="shipment_header.scac_code" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.scac_code || "empty" }}</a>
				</div>
				<div class="asn_header">
					Order No: <a href="#" id="order_nbr" editable_text="shipment_header.order_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.order_nbr || "empty" }}</a>
				</div>
				<div class="asn_header">
					Order Type: <a href="#" id="order_type" editable_text="shipment_header.order_type" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.order_type || "empty" }}</a>
				</div>
				<div class="asn_header">
					Source Comment: <a href="#" id="source_comment" editable_text="shipment_header.source_comment" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.source_comment || "empty" }}</a>
				</div>
				<div class="asn_header">
					Comments: <a href="#" id="comments" editable_text="shipment_header.comments" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.comments || "empty" }}</a>
				</div>
			</div>
		</div>

		<div class="panel-heading">
			<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion_header_inners" href="#collapse_Audit" > Audit Information </a></h4>
		</div>
		<div id="collapse_Audit" class="panel-collapse collapse out">
			<div class="panel-body">
				<h4>Audit Info</h4>
				<div class="asn_header">
					Created Date: <a href="#" id="created_date" editable-date="shipment_header.created_date" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.created_date || "empty" }}</a>
				</div>
				<div class="asn_header">
					Created User: <a href="#" id="created_user" editable_text="shipment_header.created_user" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.created_user || "empty" }}</a>
				</div>
				<div class="asn_header">
					Created Prc: <a href="#" id="created_prc" editable_text="shipment_header.created_prc" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.created_prc || "empty" }}</a>
				</div>
				<div class="asn_header">
					Created At: <a href="#" id="created_at" editable_text="shipment_header.created_at" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.created_at || "empty" }}</a>
				</div>
				<div class="asn_header">
					Updated Date: <a href="#" id="updated_date" editable_date="shipment_header.seal_nbr" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.updated_date || "empty" }}</a>
				</div>
				<div class="asn_header">
					Updated User: <a href="#" id="updated_user" editable_text="shipment_header.updated_user" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.updated_user || "empty" }}</a>
				</div>
				<div class="asn_header">
					Updated Prc: <a href="#" id="updated_prc" editable_text="shipment_header.updated_prc" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.updated_prc || "empty" }}</a>
				</div>
				<div class="asn_header">
					Updated At: <a href="#" id="updated_at" editable_text="shipment_header.updated_at" onbeforesave="updateHeader($data, this, shipment_header.id)">{{ shipment_header.updated_at || "empty" }}</a>
				</div>

			</div>
		</div>
	</div>
</div>	

</div>
</div>
</div>