<html>
	<head>
		<script>
            var sortingOrder = 'shipment_header.shipment_nbr';
		</script>
		
	</head>

	<body ng-app="shipment_detail" >


		<%= render"shared/menu" %>


		<div id="ShipmentListCtrl" ng-controller="ShipmentListCtrl" class="maintenance_screen_div">
			<div>
				<h3><a href="/shipment_maintenance"><span class="label label-primary">Shipment List</span></a></h3>
			</div>
			<div class="input-group pull-right" style="width: 30%" >
				<input type="text" ng-model="query" ng-change="search()" class="form-control" placeholder="Search">
				<span class="input-group-addon"><i class="icon-search"></i></span>
			</div>


          <tabset>
            <tab heading="Created" select="status('Created')"></tab>
            <tab heading="Initiated" select="status('Initiated')"></tab>
            <tab heading="In Progress" select="status('Receiving in Progress')"></tab>
            <tab heading="Verified" select="status('Verified')"></tab>
          </tabset>


			<table class="table">
				<thead>
					<tr>
						<th colspan="7">
						<div class="bs-callout">
							<div class="row-header">
								Option
							</div>
							<div class="row-header">
								Shipment Number&nbsp;<a ng-click="sort_by('shipment_nbr')"><i class="fa fa-sort"></i></a>
							</div>
							<div class="row-header">
								Shipped Qty&nbsp;<a ng-click="sort_by('asn_type')"><i class="fa fa-sort"></i></a>
							</div>
							<div class="row-header">
								Received Qty&nbsp;<a ng-click="sort_by('ship_via')"><i class="fa fa-sort"></i></a>
							</div>
							<div class="row-header">
								Record Status&nbsp;<a ng-click="sort_by('record_status')"></a>
							</div>
							<div class="row-header">
								<a id="open_shipment_add"  ng-click="shipment_add_modal('lg')"> <i class="icon-plus-sign"></i></a>
							</div>
						</div></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in pagedItems[currentPage]">
						<td colspan="7">
						<div  class="bs-callout bs-callout-info">
							<div class="row-header" ng-click="toggle_expand(item)" >
                              <i class="{{item.show ? 'fa fa-caret-down fa-lg' : 'fa fa-caret-right fa-lg'}}" style="color:blue"></i></a>
							</div>

							<div class="row-header">
								{{item.shipment_header.shipment_nbr}}
							</div>
							<div class="row-header">
								{{item.shipment_header.unit_ordered}}
							</div>
							<div class="row-header">
								{{item.shipment_header.unit_shipped}}
							</div>
							<div class="row-header">
								{{item.shipment_header.record_status}}
							</div>

							<div class="row-header">
								<a id="open_shipment_detail" ng-click="shipment_edit_modal('lg', item.shipment_header.id)">
									<i class="fa fa-pencil"></i>
								</a>
							</div>
						</div><!--Detail -->
						<div ng-show="item.show" style="padding-left: 0%">
							<div class="label label-default">
								<div class="row-header">
									Item
								</div>
								<div class="row-header">
									Shipped Quantity
								</div>
								<div class="row-header">
									Received Quantity
								</div>
								<div class="row-header">
									<a id="open_shipment_detail_add" ng-click="shipment_detail_add_modal('lg', item.shipment_header)">
										<i class="icon-plus-sign"></i>
									</a>									
								</div>

							</div>
							<div ng-repeat="detail in item.shipment_detail" class="bs-callout">
								<div class="row-header">
									{{detail.item}}
								</div>
								<div class="row-header">
									{{detail.shipped_quantity}}
								</div>
								<div class="row-header">
									{{detail.received_qty}}
								</div>

								<div class="row-header">
								<a id="open_shipment_detail_edit" ng-click="shipment_detail_edit_modal('lg', item.shipment_header.id, detail.id)"> 
									<i class="icon-edit"></i></a>
								</div>

							</div>
						</div></td>
					</tr>

				</tbody>
				<tfoot>
					<td colspan="7">
					<div>
						<ul class="pagination pull-right">
							<li ng-class="{disabled: currentPage == 0}">
								<a href ng-click="prevPage()">« Prev</a>
							</li>
							<li ng-repeat="n in range(pagedItems.length)"
							ng-class="{active: n == currentPage}"
							ng-click="setPage()">
								<a href ng-bind="n + 1">1</a>
							</li>
							<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
								<a href ng-click="nextPage()">Next »</a>
							</li>
						</ul>
					</div></td>
				</tfoot>

			</table>

		    <script type="text/ng-template" id="myModalContent.html">
		        <div class="modal-header">
		            <h3 class="modal-title">I'm a modal!</h3>
		        </div>
		        <div class="modal-body">
		            <ul>
		                <li ng-repeat="item in items">
		                    <a ng-click="selected.item = item">{{ item }}</a>
		                </li>
		            </ul>
		            Selected: <b>{{ selected.item }}</b>
		        </div>
		        <div class="modal-footer">
		            <button class="btn btn-primary" ng-click="ok()">OK</button>
		            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		        </div>
		    </script>
		

		</div>

	</body>
</html>
